* text=auto

*.c    text eol=lf
*.h    text eol=lf
*.S    text eol=lf
*.ld   text eol=lf
*.py   text eol=lf
*.ps1  text eol=lf
*.json text eol=lf
*.md   text eol=lf
*.txt  text eol=lf

*.bin binary
*.exe binary
*.elf binary
*.hex text eol=lf
